generated_code
build
benchmarks/data/twain.txt
benchmarks/data/hsbench-samples
benchmarks/build
benchmarks/logs
benchmarks/hyperscan
benchmarks/re2
benchmarks/build
benchmarks/run*
benchmarks/data/snort3-community-rules*
benchmarks/data/snort_patterns.txt
